body {
    background-color: #7ea8be;
}

.topnav {
    background-color: #28536b;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #c09187;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #f6f0ed;
    color: #7ea8be;
}
.topnav a.activate {
    background-color: #28536b;
    color: #f6f0ed;
}
h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'Raleway', sans-serif;
}
h2{
    text-align: center;
}
.pcontact{
    text-align: center;
}
.img1{
    object-position: center;
    height: 10%;
    width: 50%;
    
}
.img2{
    float: left;
    padding: 0 10px 0 0;
}
.img3{
    float:right;
    padding: 0 10px 0 0;
}
.img4{
    float:left;
    width: auto;
    height: auto;
    padding: 0 10px 0 0;
}
.img5{
    float:right;
    width: auto;
    height: auto;
    padding: 0 10px 0 0;
}

.container{
    margin: 100px 50px;
    width: 75%;
    padding: 8px;
}
.container2{
    margin: 50px auto;
    width: 90%;
    padding: 8px;
}

.text{
    text-align: justify;
}
.text2{
    text-align: justify;
    
}

